.txt-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.txt {
  font-weight: 500;
}

.img {
  width: 50% !important;
}

.txt-quantity {
  font-weight: bold;
  font-size: x-small;
  color: black;
}

.txt-outputMsg {
  font-size: small;
}

.container-devices {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% 50%;
}
