<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title class="txt-title">
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!--Introduction-->
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1>Welcome to the UltraGreen App!</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        This is a simple app that allows you to track your water usage.
      </p>
      <p>
        You can add a new entry by clicking the button below.
      </p>
    </ion-card-content>
  </ion-card> -->

  <ion-item lines="none">
    <ion-icon color="success" name="leaf-outline"></ion-icon>
    <ion-title>UltraGreen</ion-title>
    <ion-toggle slot="end" color="success" [checked]="isScanningEnabled" (ionChange)="onScanToggle()"></ion-toggle>
  </ion-item>

  <!--UltraGreen-->
  <ion-card class="ion-padding">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h2 class="txt">Greenhouse</h2>
        <p class="txt">Real-time Data</p>
      </ion-label>
      <!-- <ion-spinner *ngIf="isScanning" color="medium"></ion-spinner>
      <ion-chip *ngIf="!isScanning" [color]="connectivity.color" slot="end">
        <ion-label class="txt">{{connectivity.status}}</ion-label>
      </ion-chip> -->
    </ion-item>

    <!--Temperature-->
    <ion-item lines="none">
      <ion-label>
        <p class="txt-quantity">TEMPERATURE</p>
        <h2>{{temperature}}</h2>
      </ion-label>
      <ion-icon color="dark" name="thermometer-outline" slot="end"></ion-icon>
    </ion-item>

    <!--HUMIDITY-->
    <ion-item lines="none">
      <ion-label>
        <p class="txt-quantity">HUMIDITY</p>
        <h2>{{humidity}}</h2>
      </ion-label>
      <ion-icon color="dark" name="water-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-button color="success" expand="block" (click)="clearScanResults()">Clear</ion-button>

    </ion-item>

    <ion-item *ngFor="let result of scanResults" lines="none">
      <ion-label class="ion-text-wrap txt-outputMsg">{{result}}</ion-label>
    </ion-item>
  </ion-card>

  <!--Analytics-->
  <!-- <ion-item lines="none">
    <ion-icon color="secondary" name="analytics-outline"></ion-icon>
    <ion-title>Analytics</ion-title>
  </ion-item> -->

  <!--Temperature Chart-->
  <!-- <ion-card>
    <ion-card-content>
      <canvas #tempCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card><br> -->

  <!--Humidity Chart-->
  <!-- <ion-card>
    <ion-card-content>
      <canvas #humCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card> -->

</ion-content>
