.txt-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.txt-quantity {
  font-weight: bold;
  font-size: x-small;
  color: black;
}

.txt-outputMsg {
  font-size: small;
}
